@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src=@Url.Content("~/img/PageImages/about-banner.jpg") alt="About Banner" />
<hr />

<section>
    <p>
        Hello, we are the OCTO group of the TechCareers programme.The site was developed as a Capstone Project for our
        program. This site named OCTORecipes provides several food recipes ranging from our local meal recipes to intercontinental meal recipes.
        <br />
        This website provides you the appropriate step by step recipe preparation including pictures so you have a visual
        representation of what you are preparing.
        <br />
        Here, you will find meal preparation recipe that is used for mouth wathering dishes which is shown with so much ease and simplicity.
        <br />
    </p>
    <p>
        What makes our own website different from other recipes page. This is different from other recipe pages because all registered
        user are able to add their own recipes if they like. Other recipe pages do not allow their users to perform this task.
        <br />
        Stay tuned, share this site with your family and friends for mouth watering recipes.
    </p>
</section>
    

