@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src=@Url.Content("~/img/PageImages/about-banner.jpg") alt="About Banner" />
<hr />
<p>The site was developed as a Capstone Project.</p>
