@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src=@Url.Content("~/img/PageImages/about-banner.jpg") alt="About Banner" />

<p>Hello, we are the OCTA group of the techCareers programme.The site was developed as a Capstone Project for out 
   program. This site provides several food recipe ranging from our local meal recipes to intercontinental meal recipes.
   <br />
   This website provides you the appropriate step by step recipe preparation including pictures so you have a visual
    representation of what you are preparing.
    
 </p>
