@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src="~/img/PageImages/contact-us.jpg" alt="Contact Us Banner" />
<hr />
<p>Students from TechCareer built this site.</p>
