@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<<<<<<< HEAD
<img class="img-fluid" src="~/img/PageImages/contact-us.jpg" alt="Contact Us Banner" />
<hr />
<p>Students from TechCareer built this site.</p>
=======
<img class="img-fluid" src="~/img/PageImages/about-banner.jpg" alt="Contact Us Banner" />

<p>
    <br />
    Address: 10251 97 St, Edmonton, AB.<br />
    Email: octo@techcareer.ca<br />
    Tel: (+1) 587-123-2345<br />
</p>
>>>>>>> Taiwo_Branch
