@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<hr />

<img class="img-fluid" src="~/img/PageImages/about-banner.jpg" alt="Contact Us Banner" />

<p>
    <br />
    Address: 10251 97 St, Edmonton, AB.<br />
    Email: octo@techcareer.ca<br />
    Tel: (+1) 587-123-2345<br />
</p>

