@{
    ViewData["Title"] = "Home Page";
}
<!--Images from "https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3117871"
    https://pixabay.com/photos/menu-pizza-vegetables-eat-tomatoes-3206748/
-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="img-fluid" src="~/img/PageImages/homepage-img.jpg" alt="restuarant.jpg"/>

</div>
